footer{
    height: 84px;
    width: 100%;
    position:absolute;
    bottom:0;
    background-color: #f8f9fa;
}

.sectionBox {
    padding-top: 2em;
    padding-bottom: 2em;
    display: block;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
}

.text-center {
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}